<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <!-- apple -->
  <meta name="apple-mobile-web-app-title" content="Copy2me">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <!-- app manifest (transparent bg icon, android) -->
  <link rel="manifest" href="./manifest.json">
  <meta name="theme-color" content="#1a237e">

  <!-- favicons (transparent bg icon) -->
  <link rel="icon" type="image/png" href="./assets/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="./assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="./assets/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="./assets/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="./assets/favicon/favicon-128.png" sizes="128x128" />

  <!-- apple (white bg icon) -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./assets/app-icon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./assets/app-icon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./assets/app-icon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./assets/app-icon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="./assets/app-icon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="./assets/app-icon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="./assets/app-icon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="./assets/app-icon/apple-touch-icon-152x152.png" />

  <!-- microsoft (transparent bg icon) -->
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="./assets/app-icon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="./assets/app-icon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="./assets/app-icon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="./assets/app-icon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="./assets/app-icon/mstile-310x310.png" />

</head>

<body>

  <c2m-app></c2m-app>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>

  <noscript>
    For full functionality of this site it is necessary to enable JavaScript.
    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
    instructions how to enable JavaScript in your web browser</a>.
  </noscript>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-98465867-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
